<li>
	<a class="btn btn-danger" asp-controller="Employee" asp-action="SearchResult">Search Result</a>
</li>
<li>
	<a class="btn btn-danger" asp-controller="Employee" asp-action="DynamicSQL">Dynamic SQL</a>
</li>
<li>
	<a class="btn btn-danger" asp-controller="Employee" asp-action="SearchWithDynamics">SearchWithDynamics</a>
</li>